<header>
    <div fxLayout="row" style="background-color: #0B5ED7; width: auto;">
        
        <div style="margin-left: 5%; margin-top: 1%;" (click)="home()">
            <strong style="font-size: 30px; color: white;" >
              
              ShopBridge</strong>
        </div>
       
        <div class="form-group" style="margin-left: 5%; margin-top: 1%;">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)"
                placeholder="search products">
        </div>
        <mat-icon class="search-icon">search</mat-icon>
       
        <div style="margin-left: 25%; margin-top: 1%;">
            <button routerLink="cart" class="btn btn-primary">
              <mat-icon>shopping_cart</mat-icon>
                <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
            </button>
        </div>
        
    </div>
  </header>